body{
    margin: 10px;
    padding: 20px;
    font-family: sans-serif;
}

.card{
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}

h1, h3{
    text-align: center;
    color: white;
}

#formTodo{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input{
    padding: 8px;
    border-radius: 5px;
    border: none;
}

#inputTask {flex: 2; }
#inputDate {flex: 1; }

#btnTambahTodo{
    background-color: #22c55e;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling untuk list item */
li {
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.task-info { display: flex; flex-direction: column; }